html {
    font-family: 'Fira Sans', sans-serif;
}

audio {
    width: 30%;
}

.center {
    text-align: center;
}

.grid-container {
    margin: 50px;
    display: grid;
    grid-template-columns: auto auto;
}

.inline {
    display: inline;
    margin: 5px;
}

.text {
    display: inline-block;
    width: 50%;
}